<template>
    <div>
        <ul>
            <li v-for="league in model"
                class="p-2 border-t border-gray-300  text-2xl text-purple-700 whitespace-no-wrap">
                <router-link :to="{ path: `league/${league.id}` }"
                >
                    {{league.name}}
                </router-link>

            </li>
        </ul>
        <div v-if="model.length === 0">No leagues</div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Leagues",
        data() {
            return {
                model: []
            }
        },
        mounted() {
            axios.get('api/leagues').then(resp => {
                console.log(resp)
                this.model = resp.data
            })
        }
    }
</script>

<style scoped>

</style>
