<template>
    <div v-if="model.hasOwnProperty('league')">
        <h2 class="text-center  text-xl mb-2">League - <span class="font-bold">{{model.league.name}}</span></h2>
        <div class="grid grid-rows-1 grid-cols-2">
            <div class="border-l border-t border-b border-green-900 p-3">
                <h2 class="text-center font-bold text-xl mb-2 text-gray-700"> Standings</h2>

                <el-table :data="standings" row-class-name=" border-t" header-cell-class-name="">
                    <el-table-column label="Teams" prop="team_name" width="160"
                                     class-name="text-left"></el-table-column>
                    <el-table-column label="PTS" prop="points" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="P" prop="played" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="W" prop="won" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="L" prop="lost" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="D" prop="drawn" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="GF" prop="gf" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="GA" prop="ga" width="35" class-name="text-center"></el-table-column>
                    <el-table-column label="GD" prop="gd" width="35" class-name="text-center">
                        <template slot-scope="scope">{{(scope.row.gd<=0?"":"+") + scope.row.gd}}
                        </template>

                    </el-table-column>
                </el-table>
            </div>
            <div class="border border-green-900 p-3">
                <h2 class="text-center font-bold text-xl mb-2 text-gray-700">{{ordinal_suffix_of(week)}} week matches</h2>
                <el-table :data="model.matches" style="">
                    <el-table-column prop="home_team.name" className="text-left"></el-table-column>
                    <el-table-column className="text-center" label="" width="100">
                        <template slot-scope="scope">
                            <div v-if="editWeekMode">
                                <input v-model="scope.row.home_goals"
                                       class="shadow appearance-none border rounded w-8 h-8 py-2 px-1 m-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline inline-block text-center"></input>
                                <span>-</span>
                                <input v-model="scope.row.guest_goals"
                                       class="shadow appearance-none border rounded w-8 h-8 py-2 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline inline-block text-center"></input>
                            </div>
                            <div v-else>
                                {{scope.row.home_goals}} - {{scope.row.guest_goals }}
                            </div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="guest_team.name" className="text-right"></el-table-column>
                </el-table>
                <div class="row-auto text-center">
                    <button class="bg-blue-900 text-white font-semibold text-xs py-1 px-1 rounded"
                            v-if="!editWeekMode"
                            :disabled="!playWeekDisabled"
                            :class="{'opacity-50':!playWeekDisabled}"
                            @click="editWeekMode = true">
                        Edit
                    </button>
                    <button class="bg-blue-900 text-white font-semibold text-xs py-1 px-1 rounded" v-if="editWeekMode"
                            @click="editWeek">
                        Save
                    </button>
                </div>

            </div>

        </div>
        <div class="mt-3">
            <button class="bg-blue-900 text-white font-bold py-2 px-4 rounded" @click="week--"
                    :class="{'opacity-50':prevWeekDisabled}"
                    :disabled="prevWeekDisabled">
                Prev Week
            </button>
            <button class="bg-blue-900 text-white font-bold py-2 px-4 rounded" @click="week++"
                    :class="{'opacity-50':nextWeekDisabled}"
                    :disabled="nextWeekDisabled">
                Next Week
            </button>
            <button class="bg-blue-900 text-white font-bold py-2 px-4 rounded float-right"
                    :class="{'opacity-50':playWeekDisabled}"
                    :disabled="playWeekDisabled" @click="playWeek">
                Play Week
            </button>
        </div>
        <div class="grid grid-rows-1 grid-cols-2">
            <div class="col-auto m-5 max-w-sm rounded overflow-hidden shadow-lg p-10 bg-gray-200">
                <div class="font-bold text-xl mb-2">Predictions of Championship</div>
                <predictions :key="predictionKey" :league-id="league_id"/>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from "axios";
    import Predictions from './Predictions'

    export default {
        name: "League",
        components: {Predictions},
        data() {
            return {
                data: [],
                model: {},
                league_id: null,
                week: 1,
                standings: [],
                editWeekMode: false,
                predictionKey:1
            }
        },
        mounted() {
            this.league_id = this.$route.params.id
            if (this.$route.params.hasOwnProperty('week')) {
                this.week = this.$route.params.week
            }
            this.getWeek()
            this.getStandings()
        },
        computed: {
            playWeekDisabled() {
                return this.model.matches[0].home_goals !== null
            },
            prevWeekDisabled() {
                return this.week === 1
            },
            nextWeekDisabled() {
                return this.week === 6 || this.model.matches[0].home_goals === null
            }
        },
        watch: {
            week() {
                this.getWeek()
                this.editWeekMode = false
                this.predictionKey++;
            }
        },
        methods: {
            getWeek() {
                axios.get(
                    `/api/league/${this.league_id}/${this.week}`,
                    this.params
                ).then(resp => {
                    this.model = resp.data
                })
            },
            getStandings() {
                axios.get(
                    `/api/league/${this.league_id}/standings`,
                ).then(resp => {
                    this.standings = resp.data;
                    this.predictionKey++;
                })
            },
            playWeek() {
                axios.post(
                    `/api/league/${this.league_id}/play/${this.week}`,
                ).then(resp => {
                    this.model.matches = resp.data
                    this.getStandings()
                })
            },
            editWeek() {
                axios.post(
                    `/api/league/${this.league_id}/edit/${this.week}`,
                    this.model.matches
                ).then(resp => {
                    this.editWeekMode = false
                    this.getStandings()
                })
            },
            ordinal_suffix_of(i) {
                var j = i % 10,
                    k = i % 100;
                if (j == 1 && k != 11) {
                    return i + "st";
                }
                if (j == 2 && k != 12) {
                    return i + "nd";
                }
                if (j == 3 && k != 13) {
                    return i + "rd";
                }
                return i + "th";
            }
        }
    }
</script>

<style scoped>
</style>
