<template>
    <div class="w-full max-w-xs">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="league_name">
                    League Name
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="league_name" type="text" placeholder="League Name" v-model="model.name">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" @click="createLeague" :disabled="!model.name" :class="{'opacity-50':!model.name}">
                    Start League
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "NewLeague",
        data() {
            return {
                model: {
                    name: null
                }
            }
        },
        methods: {
            createLeague() {
                axios.post(
                    '/api/leagues/create',
                    this.model
                ).then(resp => {
                    this.$router.replace(`/league/${resp.data.league.id}`)
                })
            }
        }
    }
</script>

<style scoped>

</style>
