<template>
    <el-table :data="predictions">
        <el-table-column prop="team_name"></el-table-column>
        <el-table-column prop="percentage">
            <template slot-scope="scope">%{{ scope.row.percentage }}
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Predictions",
        props: ['LeagueId'],
        data() {
            return {
                predictions: []
            }
        },
        mounted() {
            axios.get(
                `/api/league/${this.LeagueId}/predictions`,
            ).then(resp => {
                this.predictions = resp.data
            })
        },
    }
</script>

<style scoped>

</style>
