<template>
    <el-table :data="model">
        <el-table-column prop="id"></el-table-column>
        <el-table-column prop="name"></el-table-column>
    </el-table>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Test",
        data() {
            return {
                model:[]
            }
        },
        mounted() {
            axios.get('api/leagues').then(resp => {
                console.log(resp)
                this.model = resp.data
            })
        }
    }
</script>

<style scoped>

</style>
